* {
  margin: 0;
  padding: 0;
}

#search-form {
  font-family: verdana;
  width: 100%;
  padding: 1%;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

input[type="text"] {
  border: 1px solid black;
  padding: 0.5%;
  width: 30%;
}

input[type="submit"] {
  display: block;
  margin-top: 1%;
  width: 20%;
  padding: 0.5%;
  font-size: 110%;
  cursor: pointer;
  border-radius: 25px;
  color: white;
  background-color: rgb(3, 199, 3);
  border: 1px solid rgb(3, 199, 3);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(3, 199, 3);
  font-family: verdana;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
#search-form input[type="submit"]:hover {
  background-color: green;
}
