* {
  margin: 0;
  padding: 0;
}

#search-form {
  padding: 2% 0 2% 0;
}

#search-form input[type="text"] {
  display: block;
  margin: auto;
  width: 50%;
  padding: 1%;
  font-size: 110%;
  border-radius: 25px;
}

#search-form input[type="submit"] {
  display: block;
  margin: auto;
  width: 15%;
  padding: 0.5%;
  font-size: 110%;
  cursor: pointer;
  border-radius: 25px;
  color: white;
  background-color: rgb(3, 199, 3);
  border: 1px solid rgb(3, 199, 3);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(3, 199, 3);
  font-family: verdana;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
#search-form input[type="submit"]:hover {
  background-color: green;
}
